@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bg-img {
  background-image: url("/img/bg.png");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
}
/* background-image: linear-gradient(to bottom right, rgb(195, 0, 255),rgb(0, 110, 255)); */

.button {
  background-color: white;
  cursor: pointer;
  padding: 8px 9px;
  border: none;
  font-size: 100%;
  color: black;
  margin-top: -20px;
  margin-left: 30px;
  border-radius: 20px;
  transition: 200ms;
  box-shadow: 0px 5px 10px -5px rgb(68, 68, 68);
  /* box-shadow:0px 5px 10px -5px rgb(122, 122, 122 */
}

.button:hover {
  box-shadow: 0px 5px 10px -2px rgb(110, 0, 138);
}
.button:focus {
  outline: none;
}
.text {
  font-size: large;
}
.txt {
  font-size: 100px;
  margin-top: 90px;
  color: blueviolet;
  opacity: 0.1;
  font-family: "Courier New", Courier, monospace;
  user-select: none;
  visibility: visible;
}

.hero {
  position: relative;
  animation: textmoveside 1.5s forwards;
}

.hero-p {
  font-size: x-large; 
  color: rgb(119, 119, 119);
}

.about-para {
  display: flex;
  justify-content: center;
  text-align: center;
}

.head-text h2 {
  font-size: 12vh;
  color: rgb(115, 1, 160);
  position: relative;
  animation: textmoveside 2s forwards;
}

@keyframes textmoveside {
  0% {
    right: 300px;
  }
  100% {
    right: 0px;
  }
}
h1 {
  padding-top: 50px;
}
.hov:hover {
  cursor: pointer;
}

/* .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

.foc-us:focus {
  outline: none;
}

.button-connect,
.button-cv {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid rgb(115, 1, 160);
  font-size: 100%;
  color: rgb(115, 1, 160);
  margin-top: 2%;
  border-radius: 20px;
  transition: 200ms;
  box-shadow: 0px 5px 10px -5px rgb(68, 68, 68);
  position: relative;
  animation: moveup 2s forwards;
}
.button-connect:hover {
  transform: scale(0.9);
  background-color: rgb(115, 1, 160);
  color: white;
}
.button-connect:focus {
  outline: none;
}

.button-cv {
  color: white;
  margin-left: 2%;
  background-color: rgb(126, 9, 155);
}

.button-cv:hover {
  transform: scale(0.9);
  background-color: rgb(255, 255, 255);
  color: rgb(126, 9, 155);
}
.button-cv:focus {
  outline: none;
}



@keyframes moveup {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

/* about container */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  z-index: 1;
}

.about-text h1 {
  font-size: x-larger;
  color: rgb(255, 255, 255);
}

.glass-card {
  margin-top: 7%;
  margin-bottom: 7%;
  width: 60%;
  border-radius: 30px;
  border-top-style: groove;
  border-bottom-style: groove;
  background-color: rgba(0, 0, 0, 0.3);
   
  transition: 100ms;
  animation: moveup 2s forwards;
}

.fade-in-text {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}
 



.skillcard img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 100%;
  display: block;
}

.skillcard-list {
  width: 60%;
  max-width: 400px;
}

.skillcard {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}

.skillcard:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.3);
  transform: translatey(-5px);
}

.skillcard-image {
  border-radius: 10px;
  overflow: hidden;
}

.skillcard-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillcard-header p {
  font-weight: 600;
  font-size: larger;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-top: 7rem;
}

.grid-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 770px) {
  .grid-container {
    grid-template-columns: repeat(2, 2fr);
  }

  .skillcard-list {
    width: 100%;
  }
}

/* slider-line */

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-left2 {
  animation: fade-left2 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
.index {
  z-index: -1;
}
@keyframes fade-left {
  0% {
    transform: translateX(-700px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left2 {
  0% {
    transform: translateX(-200px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  100% {
    transform: translateX(-10px);
    opacity: 1;
  }
  0% {
    transform: translateX(250px);
    opacity: 1;
  }
}

/* contact  */

 

.secondary-bg {
  height: auto;
  width: auto; 
}

.contact-card {
  height: auto;
  width: 50vw;
  color: white;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 1;
}

.contact-card p {
  padding: 5%;
  font-size: x-large;
}

.contact-buttons {
  list-style: none;
  margin-right: 5%;
  margin-bottom: 5%;
}

.dev {
  font-family: "Courier New", Courier, monospace;
}
/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(
    to bottom,
    rgb(252, 252, 252),
    rgb(75, 1, 160)
  );
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 1, 160);
}

@media only screen and (max-width: 1024px) {
  .head-text h2 {
    font-size: 7vh;
  }

  .txt {
    font-size: 6vh;
  }
  .glass-card {
    width: 90%;
  }
  .contact-card {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .head-text h1 {
    font-size: 6vh;
  }

  .head-text h2 {
    font-size: 7vh;
  }

  .txt {
    font-size: xx-small;
    visibility: hidden;
  }
  /* my work cards */
  .container-x .card .face {
    width: 180px;
    height: 250px;
  }

  .container-x .card .face.face2 {
    font-size: small;
  }
  .margin {
    margin-left: 0%;
  }

  .container-x .card .face.face2 {
    transform: translateY(-120px);
  }

  .container-x .card .face {
    width: 300px;
  }

  .tech-txt {
    font-size: larger;
  }

  .about-container p {
    word-break: normal;
    font-size: 2.5vh;
  }

  .about-text h1 {
    font-size: 4vh;
  }

  .glass-card {
    width: 90%;
  }

  .content a {
    font-size: 5vw;
  }
 

  .contact-card {
    margin-top: 5%;
    background-color: inherit;
    margin-bottom: 7%;
    color: white;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    width: 100%;
  }

  .contact-card p {
    font-size: large;
  }

  .dev {
    font-size: small;
  }
}

@media screen and (max-width: 1024) {
  .skillcard-list {
    width: 100%;
  }

  .skillcard {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .skillcard-list {
    width: 100%;
  }

  .skillcard {
    width: auto;
  }

  .tech-txt {
    font-size: 2em;
  }
}
